.loginStateContainer{
    position: absolute;
    right: 1px;
    top: 1px;
}

.userdata_ul{
    list-style-type: none;
}

.userdata_li{
    text-align: right;
}

.buttonContainer{
    background: transparent;
    border-radius: 3px;
    border: 1px solid gray;
    color: gray;
    padding: 0.15em 0.2em;
    cursor: pointer;
}

.buttonContainer:hover{
    background-color: rgb(212, 212, 212);
}