.lotteryRoundContainer{
    border: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 0);
    background-color: rgb(255, 255, 204);
    display: inline-block;
    padding: 10px;
}

.lotteryRound_h2{
    /* margin right is width of select */
    margin:0px 54px;
}

.roundNumberList{
    font-size: 20px;
    background:rgb(255, 214, 139);
    border-radius:50%;
    display:inline-block;
    margin:0 5px;
    width: 40px; height: 40px;
    line-height: 40px;
}

.lotteryRoundSelectContainer{
    float:right;
}

.roundDate{
    color:gray;
    font-size: small;
}