.navigationContainer{
    background-color: #dbdbdb;
    display: inline-block;
}

.navigation_ul{
    flex-direction: row;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.navigation_li{
    font-size: large;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.link_text{
    font-weight: bold;
    color: black;
}

.hover1:hover{
    color : rgb(108, 185, 93);
}

.hover2:hover{
    color : rgb(92, 155, 186);
}