.lotteryNumberContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 25% 0px 25%;
}

.lotteryNumber{
    float:left;
    margin: 8px;
    width: 40px;
    padding: 2px 0px 2px 0;
    border: solid;
    border-width: 2.5px;
}

.includeNumber{
    background-color: greenyellow;
}

.excludeNumber{
    background-color: palevioletred;
}

.textContainer{
    flex-direction: row;
}

.textBox{
    display: inline-block;
    border: solid;
    border-width: 2.5px;
    margin-right: 3px;
}